.Bg-Wrapper {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: hidden;
}
#Bg-Wrapper_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}